<form action="post">
  Name:<br>
  <input type="text" name="name"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Prep Time:<br>
  <input type="text" name="prep_time"><br>
  Difficulty:<br>
  <input type="text" name="difficulty"><br>
  <input type="submit" value="Submit"><br>
</form>
